  .container
    {
        display: grid;
        grid-gap: 50px 50px;
        grid-template-columns: auto auto auto auto;
      justify-content: space-between;

    }
    body{
        background-color: #898c8b;
    }
    .item
    {
            justify-content: space-evenly;
        text-align: center;
        display: flex;
        flex-direction: column;
        max-width: 250px;
        max-height: 125;
       background-color: white;
      border-radius: 5%;
     box-shadow: none;
   
    transition: box-shadow ease 1s;
    
 
    }
    h2{
     font-family: 'Song Myung', serif;
font-family: 'Lobster', cursive;

    }
    p{
        font-family: 'Song Myung', serif;
font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;
    }
    .item:hover
    {
     box-shadow:4px 3px black;
    }
   
    @media only screen and (max-width:400px) and (min-width:0px) 
    {
        .container
        {
            grid-template-columns: auto ;
        }
      
    }
    @media only screen and (min-width:400px) 
    {
        .container
        {
            grid-template-columns: auto auto ;
        }
      
    }
    @media only screen and (min-width:900px)
    {
        .container
        {
            grid-template-columns: auto auto auto;
        }
    }
    @media only screen and (min-width:1200px)
    {
        .container
        {
            grid-template-columns: auto auto auto auto;
        }
    }

    #ani
    {
      width:250px;
        position: relative;
        animation-name: move;
        animation-duration: 10s;
animation-iteration-count: infinite;
      
    }
    @keyframes move
    {
     from 
     {
       
         left:20px;
     }
     to
     {  
       
         left:1300px;
     }
    }